/*
 * Sizing Utitlies
 * Dimensioning blocks based on grid or percentages
 */
$u-w-class-steps: 10;
$u-w-breakpoints-list: $global-grid-breakpoints-list;


// HELPERS
.u-width-auto,
.u-col-auto {
  @include make-col('auto');
}

.u-width-100{
  flex: 1 0 100%;
  max-width: 100%;
  width: 100%;
}



/*
 * Grid column sizing classes
 * Yes they can be used outside grid container
 */
@for $i from 1 through $global-grid-columns {
  $widthCalc:  percentage($i/ $global-grid-columns);

  .u-col-#{$i}{
    @include make-col($i);
  }
}


//responsive grid sizing
@each $breakpoint in $u-w-breakpoints-list{
  @include mappy-bp($breakpoint){
    @for $i from 1 through $global-grid-columns {
      $widthCalc:  percentage($i/ $global-grid-columns);

      .u-col-#{$i}#{$global-breakpoint-separator}#{$breakpoint} {
        @include make-col($i);
      }
    }

    .u-col-auto#{$global-breakpoint-separator}#{$breakpoint}{
      @include make-col('auto');
    }
  }
}



/*
 * Grid offset classes
 */
@for $i from 1 through $global-grid-columns {
  $widthCalc:  percentage($i/ $global-grid-columns);

  .u-push-col-#{$i}{
    margin-left: $widthCalc;
  }

  .u-pull-col-#{$i} {
    margin-left: - $widthCalc;
  }
}

//responsive offsets
@each $breakpoint in $u-w-breakpoints-list{
  @include mappy-bp($breakpoint){
    @for $i from 0 through $global-grid-columns {
      $widthCalc:  percentage($i/ $global-grid-columns);

      .u-push-col-#{$i}#{$global-breakpoint-separator}#{$breakpoint} {
        margin-left: $widthCalc;
      }

      .u-pull-col-#{$i}#{$global-breakpoint-separator}#{$breakpoint} {
        margin-left: - $widthCalc;
      }
    }

    .u-push-auto#{$global-breakpoint-separator}#{$breakpoint}{
      margin-left: auto;
    }

    .u-pull-auto#{$global-breakpoint-separator}#{$breakpoint}{
      margin-right: auto;
    }
  }
}
