.c-flooper.c-flooper--demo(data-name="Flooper Wrapper" data-scrollama-flooper)
  .c-flooper__row(data-name="Flooper Row" data-flooper="container", data-flooper-options=`{
      "autoPlay": true,
      "speed": 1,
      "name": "how it works",
      "bufferSize": 50,
      "flooperItemSelector": "[data-flooper='item']"
    }`)
    .js-flooper-item.c-flooper__block.c-flooper__block--2x(data-flooper="item") 1
    .js-flooper-item.c-flooper__block(data-flooper="item") 2
    .js-flooper-item.c-flooper__block(data-flooper="item") 3
    .js-flooper-item.c-flooper__block.c-flooper__block--2x(data-flooper="item") 4
    .js-flooper-item.c-flooper__block(data-flooper="item") 5
    .js-flooper-item.c-flooper__block.c-flooper__block--2x(data-flooper="item") 6
    .js-flooper-item.c-flooper__block(data-flooper="item") 7
    .js-flooper-item.c-flooper__block(data-flooper="item") 8

