.c-flooper-wrap.c-flooper-wrap--beatles(data-scrollama-flooper)
  .c-flooper.c-flooper--beatles
    .c-flooper__row(data-flooper="container" data-flooper-options = {"autoPlay": true, "speed": 1, "name": "beatles", "flooperItemSelector": "[data-flooper='item']"})
      .c-flooper__block(data-flooper="item")
        img(src="assets/1.png", class="c-flooper__img", alt="George Harrison at Abbey Road", title="George Harrison at Abbey Road")
      .c-flooper__block(data-flooper="item")
        img(src="assets/2.png", class="c-flooper__img", alt="Paul McCartney at Abbey Road", title="Paul McCartney at Abbey Road")
      .c-flooper__block(data-flooper="item")
        img(src="assets/3.png", class="c-flooper__img", alt="Ringo Starr at Abbey Road", title="Ringo Starr at Abbey Road")
      .c-flooper__block(data-flooper="item")
        img(src="assets/4.png", class="c-flooper__img", alt="John Lennon at Abbey Road", title="John Lennon at Abbey Road")
