doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="stylesheet", href="css/index.css")
    script.
      (function(doc, classToAdd){
        doc.className = (doc.className).replace("no-js", classToAdd);
      })(document.documentElement, "js");
  body
    div#app.o-skeleton
      main.o-skeleton__body(data-main)
        block content
      footer.o-skeleton__feet
        include ../components/_ws_banner
    script(type="text/javascript", src="js/app.js")
    block scripts
