.o-skeleton
  h1 Flooper.js Demo
  main.o-skeleton__body
    // content here
    .c-infinity
      .c-infinity__row.js-flooper
        .js-flooper-item.c-infinity__block.c-infinity__block--2x 1
        .js-flooper-item.c-infinity__block 2
        .js-flooper-item.c-infinity__block 3
        .js-flooper-item.c-infinity__block.c-infinity__block--2x 4
        .js-flooper-item.c-infinity__block 5
        .js-flooper-item.c-infinity__block.c-infinity__block--2x block
        .js-flooper-item.c-infinity__block 6
        .js-flooper-item.c-infinity__block 7
        .js-flooper-item.c-infinity__block 8
        .js-flooper-item.c-infinity__block.c-infinity__block--2x 9
        .js-flooper-item.c-infinity__block 10
        .js-flooper-item.c-infinity__block 11
  .c-infinity__row
    button.js-flooper-pause.c-button.c-button--primary Pause
    button.js-flooper-resume.c-button.c-button--primary Resume
