.o-skeleton
  h1 Flooper.js Demo
  main.o-skeleton__body
    // content here
    .c-flooper
      .c-flooper__row.js-flooper
        .js-flooper-item.c-flooper__block.c-flooper__block--2x
          img(src="assets/1.png", class="c-flooper__img", alt="George Harrison at Abbey Road", title="George Harrison at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/2.png", class="c-flooper__img", alt="Paul McCartney at Abbey Road", title="Paul McCartney at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/3.png", class="c-flooper__img", alt="Ringo Starr at Abbey Road", title="Ringo Starr at Abbey Road")
        .js-flooper-item.c-flooper__block.c-flooper__block--2x
          img(src="assets/4.png", class="c-flooper__img", alt="John Lennon at Abbey Road", title="John Lennon at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/1.png", class="c-flooper__img", alt="George Harrison at Abbey Road", title="George Harrison at Abbey Road")
        .js-flooper-item.c-flooper__block.c-flooper__block--2x
          img(src="assets/2.png", class="c-flooper__img", alt="Paul McCartney at Abbey Road", title="Paul McCartney at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/3.png", class="c-flooper__img", alt="Ringo Starr at Abbey Road", title="Ringo Starr at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/4.png", class="c-flooper__img", alt="John Lennon at Abbey Road", title="John Lennon at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/1.png", class="c-flooper__img", alt="George Harrison at Abbey Road", title="George Harrison at Abbey Road")
        .js-flooper-item.c-flooper__block.c-flooper__block--2x
          img(src="assets/2.png", class="c-flooper__img", alt="Paul McCartney at Abbey Road", title="Paul McCartney at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/3.png", class="c-flooper__img", alt="Ringo Starr at Abbey Road", title="Ringo Starr at Abbey Road")
        .js-flooper-item.c-flooper__block
          img(src="assets/4.png", class="c-flooper__img", alt="John Lennon at Abbey Road", title="John Lennon at Abbey Road")
      .c-flooper__controls
        button.js-flooper-pause.c-button.c-button--primary Pause
        button.js-flooper-resume.c-button.c-button--primary Resume
  footer.c-footer
    small Made with ➿ and ❤️ by
      a(href="https://whitesmith.co") Whitesmith™
