.o-skeleton
  h1 Flooper.js Demo
  main.o-skeleton__body
    // content here
    .c-flooper
      .c-flooper__row.js-flooper
        .js-flooper-item.c-flooper__block.c-flooper__block--2x.c-flooper__block--b1
        .js-flooper-item.c-flooper__block.c-flooper__block--b2
        .js-flooper-item.c-flooper__block.c-flooper__block--b3
        .js-flooper-item.c-flooper__block.c-flooper__block--2x.c-flooper__block--b4
        .js-flooper-item.c-flooper__block.c-flooper__block--b1
        .js-flooper-item.c-flooper__block.c-flooper__block--2x.c-flooper__block--b2
        .js-flooper-item.c-flooper__block.c-flooper__block--b3
        .js-flooper-item.c-flooper__block.c-flooper__block--b4
        .js-flooper-item.c-flooper__block.c-flooper__block--b1
        .js-flooper-item.c-flooper__block.c-flooper__block--2x.c-flooper__block--b2
        .js-flooper-item.c-flooper__block.c-flooper__block--b3
        .js-flooper-item.c-flooper__block.c-flooper__block--b4
      .c-flooper__controls
        button.js-flooper-pause.c-button.c-button--primary Pause
        button.js-flooper-resume.c-button.c-button--primary Resume
  footer.c-footer
    small Made with ➿ and ❤️ by 
      a(href="https://whitesmith.co") Whitesmith™
