extends layouts/_default

block content
  include components/_player
  // Featured demo
  include components/_hero
  // How it Works Section
  include components/_how_it_works
  // Showcase
  section#showcase.o-section.c-showcase(data-scrollama-step="showcase" data-anime-js-showcase-timeline)
    div.u-overflow-hidden
      h2.c-floopytext.c-floopytext--showcase.u-mb-3x(title="Showcase") Showcase

      section.o-section.c-showcase__entry
        .o-wrap
          div.o-grid(data-flitem="expand--"  data-flout="expand-- middle--")
            div(class="o-grid__el u-col-5@s" data-flout="expand-- row--")
              include components/_flooper_beatles
            div(class="o-grid__el u-col-4@s u-push-col-1@sm")
              div.c-typeset.c-typeset--mega
                h1.c-typeset__heading Abbey Road
                h2.c-typeset__subheading by <a href="">@tomasmcm</a>
                p.c-typeset__body-text Player ID: "Beatles"




  section.o-section.u-overflow-hidden
    h2.c-floopytext.c-floopytext--showcase.u-mb-3x(title="SAY HELLO") <a href="mailto:%69nfo@w&#104;%69&#116;esmith&#46;%63%6f">SAY HI</a>
