extends layouts/_default

block content
  include components/_player
  // Featured demo
  include components/_hero
  // How it Works Section
  include components/_how_it_works
  // Showcase
  include components/_showcase

  section.o-section.u-overflow-hidden
    h2.c-floopytext.c-floopytext--showcase.u-mb-3x(title="SAY HELLO") <a href="mailto:%69nfo@w&#104;%69&#116;esmith&#46;%63%6f">SAY HI</a>
